* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #18234E;
  color: white;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #18234E;
}

nav {
  border: 0px solid red;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a img {
  width: 100px;
  border-radius: 50%;
}

ul {
  display: flex;
  gap: 20px;
  transition: .5s;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

label {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 784px) {
  label {
    position: relative;
    display: block;
    height: 25px;
    width: 30px;
  }

  label::after, label::before, label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: .3s;
  }

  label::before {
    content: "";
    top: 0;
  }

  label::after {
    content: "";
    bottom: 0;
  }

  label span {
    top: 11px;
  }

  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }

  #burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 12px;
  }

  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 12px;
  }

  ul {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #2f79be;
    padding-top: 300px;
    z-index: -1;
    flex-direction: column;
    text-align: center;

    left: -100vw;
    right: 200vw;

  }

  #burger-toggle:checked ~ ul {
    left: 0;
    right: 0;
  }

  li a {
    font-size: 24px;
  }
}


.box{
  border: 0px solid red;
  width: 100%;
  height: 2000px;
}


.qwe{
  border: 0px solid red;
  width: 100%;
}


.main{
  border: 0px solid red;
  width: 100%;
  height: 2200px;
}


.comp{
  display: flex;
  justify-content: center;
  border-radius: 30px;
  border: 0px solid red;
  height: 1000px;
  background-image: url(image/8b2b8c06-6ddf-47a1-ab3d-d49e34e008e9.jpg);
  background-size: cover;
  background-position: center;
  margin: 2% 55px 0px 55px;
  opacity: 1;
}


.pod{
  display: block;
  width: auto;
  height: auto;
  opacity: 0.8;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-top: 2%;
  border: 0px solid red;
  width: 70%;
}


.pc{
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}


@media (max-width: 785px) {
 .comp{
  object-fit: cover;

  }
}


@media (max-width: 1480px) {

  .comp{
    margin: 2% 10px 0px 10px;
  }
}


@media (max-width: 1920px) {

   .comp{
     border-radius: 30px;
   }
 }


 @media (max-width: 480px) {

  .comp{
    margin: 2% 0px 0px 0px;
  }
}


@media (max-width: 1780px) {

  .comp{
  height: 750px;
  }
}


@media (max-width: 1030px) {

  .comp{
  height: 600px;
  }
}





@media (max-width: 780px) {

  .comp{
  height: 650px;
  }
}


@media (max-width: 580px) {

  .comp{
  height: 500px;
  }
}


.but{
  border: 0px solid red;
  margin-top: 10%;
  width: 350px;
}


.btn{
  width: 350px;
  height: 100px;
  background-color: #ff6600;
  border-radius: 15px;
  border: 0;
  color: white;
  font-family: Unbounded, sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.95);
  transition: 0.3s;
  transition-timing-function: ease-out;
  transition-duration: 0.4s;
}





.text-comp{
  border: 0px solid red;
  width: 100%;

}


.text{
  display: flex;
  flex-direction: column;
  border: 0px solid red;
  margin-top: 15%;
  margin-left: 2%;
  width: 60%;
  align-items: flex-start;
}


.text-block{
  max-width: 100%;
}


.txt-block{
  max-width: 100%;
  line-height: 30px;
}


.components{
  display: flex;
  vertical-align: top;
  position: relative;
  font-size: 4.5vw;
  line-height: 5.5vw;
  font-weight: 400;
  font-family: Unbounded, sans-serif;
  color: rgb(216, 82, 33);
}


.compi_i{
  display: flex;
  vertical-align: top;
  position: relative;
  font-size: 4.5vw;
  line-height: 5.5vw;
  font-weight: 400;
  font-family: Unbounded, sans-serif;
}


.text1{
  font-size: 4.5vw;
  font-family: Unbounded, sans-serif;
}


.text2{
  font-size: 18px;
  font-family: Rubik, sans-serif;
  flex-grow: 1;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}


.dalee{
  border: 0px solid red;
  width: 100%;
  margin-top: 5%;
}


.cel{
  border: 0px solid red;
  width: 100%;
  margin-top: 2%;
}


.nemnogo{
  display: flex;
  border: 0px solid red;
  margin: 0px 3% 0px 3%;
}


.ons{
  border: 0px solid red;
  width: 100%;
  margin-top: 10%;
}


.ves{
  border: 0px solid red;
  width: 50%;
}


.fuoto{
  display: flex;
  justify-content: center;
  border: 0px solid blue;
  width: 50%;
  margin-top: 5%;
}


.pk{
  width: 500px;
}


.hit{
  margin-top: 8%;
  border: 0px solid red;
  height: 700px;
}


.hiti{
  text-align: center;
  border: 0px solid red;
}


.furor{
  font-size: 75px;
  font-family:Furore, sans-serif ;
}


@media (max-width: 579px) {
  .text-block {
      font-size: 30px;
      line-height: 36px;
  }
}



@media (max-width: 579px) {
  .txt-block {
      font-size: 15px;
      line-height: 10px;
  }
}



@media (max-width: 579px) {
  .btn {
      font-size: 15px;
      line-height: 10px;
  }
}


@media (max-width: 1920px) {
  .btn {
    width: 300px;
    height: 80px;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;

    line-height: 10px;
  }
}

@media (max-width: 1920px) {
  .btn {
    font-size: 20px;
  }
}


@media (max-width: 768px) {
  .text1 {
   font-size: 24px;
  }
  .text2 {
    font-size: 16px;
   }
}


@media (max-width: 768px) {
  .dalee {
    margin-top: 5%;
  }
}


@media (max-width: 768px) {
  .dalee{
    width: 100%;
  }
}


@media (max-width: 768px) {
  .cel{
    margin-top: 6%;
    width: 100%;
  }
}


@media (max-width: 768px) {
  .ons{
    width: 100%;
  }
}


@media (max-width: 768px) {
  .nemnogo{
    flex-direction: column;
  }
  .ves{
    width: 100%;
  }
  .fuoto{
    width: 100%;
  }
  .pk{
    width: 300px;
  }
}


@media (max-width: 968px) {
  .nemnogo{
    flex-direction: column;
  }
  .ves{
    width: 100%;
  }
  .fuoto{
    width: 100%;
  }
  .pk{
    width: 300px;
  }
}


@media (max-width: 968px) {
  .pod{
    width: 40%;
  }
}


@media (max-width: 968px) {
  .pod{
    width: 100%;
  }
}


@media (max-width: 968px) {
  .furor{
    font-size: 54px;
  }
}


@media (max-width: 768px) {
  .furor{
    font-size: 44px;
  }
}